// navbar
include ./navbar-item

mixin navbar(localBase=process.env.BASE_URL ?? '')
    nav.navbar(role="navigation" aria-label="main navigation")
        .navbar-brand
            a.navbar-item.font-weight-bold(href=`${localBase}/`)
                img.image.is-square(alt="WorHou" src=`${localBase}/static/worhou.png`)
            a.navbar-burger(role="button" aria-label="menu" aria-expanded="false")
                span(aria-hidden="true")
                span(aria-hidden="true")
                span(aria-hidden="true")
                span(aria-hidden="true")
        .navbar-menu
            .navbar-start
                +navbar-item("Timelog",`${localBase}/timelog`,"mdi mdi-clock-outline")
                +navbar-item("Worksheet",`${localBase}/worksheet`,"mdi mdi-text-box-check-outline")
            .navbar-end
                +navbar-item("Teams",`${localBase}/teams`,"mdi mdi-account-group-outline")
                +navbar-item("Profile",`${localBase}/profile`,"mdi mdi-account-circle")
        script(type="text/javascript").
          lobRoot(nav => {
            const burger = nav.querySelector('.navbar-burger');
            const menu = nav.querySelector('.navbar-menu');
            burger.addEventListener('click', () => {
              burger.classList.toggle('is-active');
              menu.classList.toggle('is-active');
            });
          });
