include ../components/navbar
-
  const base = process.env.BASE_URL ?? '';
doctype html
html
    head
        meta(charset="UTF-8")/
        meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        link(rel="stylesheet", href=`${base}/bulma/bulma.css`)/
        link(rel="stylesheet", href=`${base}/mdi/css/materialdesignicons.css`)/
        link(rel="stylesheet", href=`${base}/static/theme-override.css`)/
        link(rel="stylesheet", href=`${base}/static/worhou.css`)/
        script(type="text/javascript" src=`${base}/htmx/htmx.js`)
        script(type="text/javascript" src=`${base}/static/worhou.js`)
        block head
            title It's WorHou time!
    body
        +navbar(base)
        main.section
            .container.is-flex.is-flex-wrap-wrap.is-justify-content-center
                block content
                    i Nothing to see here...
        footer.footer.py-5
            .content.has-text-centered
                p &copy; Sombriks under a MIT license

