include ../components/navbar
-
  const base = process.env.BASE_URL ?? '';
doctype html
html
    head
        meta(charset="UTF-8")/
        meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        link(rel="stylesheet", href=`${base}/bulma/1/bulma.css`)/
        link(rel="stylesheet", href=`${base}/mdi/7/css/materialdesignicons.css`)/
        link(rel="stylesheet", href=`${base}/static/theme-override.css`)/
        link(rel="stylesheet", href=`${base}/static/worhou.css`)/
        script(type="text/javascript" src=`${base}/htmx/4/htmx.js`)
        script(type="text/javascript" src=`${base}/static/worhou.js`)
        block head
            title It's WorHou time!
    body
        +navbar(base)
        main(class="section")
            div(class="container")
                block content
                    i Nothing to see here...
        footer(class="footer py-5")
            div(class="content has-text-centered")
                p &copy; Sombriks, under a MIT license

